go 1.20

use (
	./Arreglos/ProductoEscalar
	./Arreglos/SumaDeElementos
	./Arreglos/UnionEInterseccion
	./EstructurasRepetitivas/EjercicioFactorial
	./EstructurasRepetitivas/EjercicioNumeroPrimo
	./EstructurasRepetitivas/EjercicioProducto
	./Figuras
	./Funciones/EjercicioMenu
	./Funciones/MayorYMenor
	./Punteros
)
