go 1.20

use (
	./Funciones/EjercicioMenu
	./Funciones/MayorYMenor
	./EstructurasRepetitivas/EjercicioFactorial
	./EstructurasRepetitivas/EjercicioProducto
	./EstructurasRepetitivas/EjercicioNumeroPrimo

)
